<div class="card border-0 personal-wrap">
    <div class="card-header">
        <div class="pie">
            {{user.nick_name}}
        </div>
        <div class="w-100 text-center text-white">
            <div class="username">{{user.nick_name}}</div>
        </div>
    </div>
    <div class="card-block px-1 py-0">
        <ul class="list-group">
            <li class="list-group-item">
                <i class="iconfont icon-phone"></i>
                {{user.mobile}}
            </li>
            <li class="list-group-item">
                <i class="iconfont icon-email"></i>
                {{user.email}}
            </li>
        </ul>
    </div>
</div>