<div class="footer fixed-bottom">
    <a class="footer-item" (touchstart)="changeNav(1)" [class.active]="nav === 1">
        <i class="footer-item-icon iconfont icon-analytical"></i>
        <span class="footer-item-text">消息</span>
    </a>
    <a class="footer-item" (touchstart)="changeNav(2)" [class.active]="nav === 2">
        <i class="footer-item-icon iconfont icon-task"></i>
        <span class="footer-item-text">联系人</span>
    </a>
    <a class="footer-item" (touchstart)="changeNav(3)" [class.active]="nav === 3">
        <i class="footer-item-icon iconfont icon-observe"></i>
        <span class="footer-item-text">工作</span>
    </a>
    <a class="footer-item" (touchstart)="changeNav(4)" [class.active]="nav === 4">
        <i class="footer-item-icon iconfont icon-message"></i>
        <span class="footer-item-text">应用</span>
    </a>
    <a class="footer-item" (touchstart)="changeNav(5)" [class.active]="nav === 5">
        <i class="footer-item-icon iconfont icon-personal"></i>
        <span class="footer-item-text">我</span>
    </a>
</div>