// Colors
$ps-border-radius: 6px !default;

$ps-rail-default-opacity: 0 !default;
$ps-rail-container-hover-opacity: 0.6 !default;
$ps-rail-hover-opacity: 0.9 !default;

$ps-bar-bg: transparent !default;
$ps-bar-container-hover-bg: #aaa !default;
$ps-bar-hover-bg: #999 !default;
$ps-rail-hover-bg: #eee !default;

// Sizes
$ps-scrollbar-x-rail-bottom: 0px !default;
$ps-scrollbar-x-rail-height: 15px !default;
$ps-scrollbar-x-bottom: 2px !default;
$ps-scrollbar-x-height: 6px !default;
$ps-scrollbar-x-hover-height: 11px !default;

$ps-scrollbar-y-rail-right: 0 !default;
$ps-scrollbar-y-rail-width: 15px !default;
$ps-scrollbar-y-right: 2px !default;
$ps-scrollbar-y-width: 6px !default;
$ps-scrollbar-y-hover-width: 11px !default;

// Light theme Colors
$ps-border-radius-light: 6px !default;

$ps-rail-default-opacity-light: 0 !default;
$ps-rail-container-hover-opacity-light: 0.6 !default;
$ps-rail-hover-opacity-light: 0.9 !default;

$ps-bar-bg-light: transparent !default;
$ps-bar-container-hover-bg-light: #f0f0f0 !default;
$ps-bar-hover-bg-light: #f0f0f0 !default;
$ps-rail-hover-bg-light: transparent !default;

// Light theme Sizes
$ps-scrollbar-x-rail-bottom-light: 0px !default;
$ps-scrollbar-x-rail-height-light: 12px !default;
$ps-scrollbar-x-bottom-light: 2px !default;
$ps-scrollbar-x-height-light: 8px !default;
$ps-scrollbar-x-hover-height-light: 8px !default;

$ps-scrollbar-y-rail-right-light: 0 !default;
$ps-scrollbar-y-rail-width-light: 12px !default;
$ps-scrollbar-y-right-light: 2px !default;
$ps-scrollbar-y-width-light: 4px !default;
$ps-scrollbar-y-hover-width-light: 8px !default;
